#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button,
button:hover {
  border: none;
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: #2563eb;
}
button{
  border-radius: 8px;
  padding: 16px 24px;
  transition:.3s;
}
button:hover{
  transform: scale(1.2);
}